<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/users.css">
</head>
<body>
<div th:replace="~{fragment/top-bar :: topbar}"></div>
<div>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Group Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.groupName}"></td>
            <td th:if="${user.isGroupUser}">
                <form method="post" th:action="@{/users/{username}/change-role(username=${user.username}, roleType='GROUP_USER')}">
                    <button type="submit">관리자로 변경</button>
                </form>
            </td>
            <td th:unless="${user.isGroupUser}">
                <form method="post" th:action="@{/users/{username}/change-role(username=${user.username}, roleType='GROUP_ADMIN')}">
                    <button type="submit">사용자로 변경</button>
                </form>
            </td>
            <td><a th:href="@{/users/{username}/modify(username=${user.username})}">수정</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
